<div class="page-wrapper margin-auto d-flex flex-column">
	<app-loading *ngIf="loading$ | async; else content"></app-loading>
	<ng-template #content>
		<div class="title" *ngIf="genre">
			<h1 class="pl-3 pt-3">{{ genre.name }}</h1>
		</div>
		<ng-container *ngIf="movies.length">
			<h3 class="pl-3">Movies</h3>
			<app-card-grid [items]="movies" [type]="'movie'"></app-card-grid>
		</ng-container>
		<ng-container *ngIf="shows.length">
			<h3>TV Shows</h3>
			<app-card-grid [items]="shows" [type]="'tv'"></app-card-grid>
		</ng-container>
	</ng-template>
</div>
