<div class="genre-wrapper d-flex flex-column pb-5">
    <app-loading *ngIf="loading"></app-loading>
    <div class="genre-title pt-5" *ngIf="genre && !loading">
        <h1 class="pb-3 pl-3">{{genre.name}}</h1>
    </div>
    <ng-container *ngIf="!loading && movies.length > 0">
        <h3 class="pl-3">Movies</h3>
        <app-card-grid [items]="movies" [type]="'movies'"></app-card-grid>
    </ng-container>
    <ng-container *ngIf="!loading && shows.length > 0">
        <h3 class="pl-3">TV Shows</h3>
        <app-card-grid [items]="shows" [type]="'shows'"></app-card-grid>
    </ng-container>
</div>