@import '../../../styles/variables.scss';

.genre-wrapper {
    min-height: calc(100vh - #{$header-height} - #{$footer-height});

    .genre-title {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 1700px;
    }

    h3 {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 1700px;
    }
}