@import '../../../styles/variables.scss';

.card-item {
    background-color: #{$header-background-color};
    height: 100%;
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;

    .bi-star-fill {
        color: gold;
    }

    .title {
        font-size: 0.9rem;
        overflow: hidden;
        text-overflow: ellipsis;
        width: auto;
    }

    &:hover {
        opacity: 0.6;
        transform: scale(1.05);
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    margin: 0 10px;
    cursor: pointer;
}