@import '../../../styles/variables.scss';

.header {
    width: 100%;
    background-color: #{$header-background-color};
    height: #{$header-height};
    border-bottom: 1px solid rgba(255,255,255,.1);

    .header--content {
        max-width: 1200px;
        width: 100%; 
    }

    a {
        text-decoration: none;
        color: white;
    }

    ::ng-deep .hamburger {
        display: none;
    }

    &-menu {
        list-style: none;
        width: #{$header-menu-width};

        a {
            color: white;
            text-decoration: none;
            transition: color 0.2s ease-in-out;

            &.active-link {
                color: rgba(145, 145, 145, 0.699);
                cursor: pointer;
            }
             
            &:hover {
                color: #{$white-text-hover-color};
            }
        }

    }
}

@media (max-width: 750px) {
    .header {
        ::ng-deep .hamburger {
            fill: white;
            position: absolute;
            right: 20px;
            top: 20px;
            display: block;
            transition: fill 0.2s ease-in-out;

            &:hover {
                cursor: pointer;
                fill: #{$white-text-hover-color};
            }
        }
        
        &-menu {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            height: #{$header-menu-height-mobile};
            right: 0;            
            top: #{$header-height};
            width: 100vw;
            background-color: #{$header-background-color};
            transition: transform 0.5s ease-in-out, opacity 0.2s ease-in-out;
            opacity: 0;
            display: none !important;

            &.shown {
                transform: translateX(0);
                opacity: 1;
                display: flex !important;
                z-index: 999 !important;
            }

            li {
                justify-content: center;
                align-items: center;
                padding-top: 1.2rem;

                &:last-child {
                    padding-bottom: 1.2rem;
                }
            }
        }
    }
}
