@import "../../../styles/variables.scss";

.page-wrapper {
	.cast-container {
		margin: auto;
		width: 100%;
		max-width: 1700px;
	}

	::ng-deep .p-carousel-container {
		button {
			border-radius: unset;
			border: unset;
			background-color: $red-hover;
			border-radius: 2px;
			color: white;
			font-weight: 400;
			transition: background-color 0.2s ease-in-out;
			outline: none;

			&:hover {
				color: #495057;
				border-color: transparent;
				background: #e9ecef;
			}

			&:focus {
				box-shadow: 0 0 0 0.2rem #495057;
				border-color: $red-hover;
			}
		}
	}

	.details-container {
		margin: auto;
		width: 100%;
		max-width: 1700px;

		.poster-area {
			width: 20%;
			max-height: 500px;

			img {
				max-height: 100%;
				max-width: 100%;
			}
		}

		.details-area {
			flex: 1;

			.plot {
				max-width: 800px;
				margin-bottom: 2rem;
			}

			.genre-list {
				.btn-genre {
					background-color: $red;
					color: white;
					font-size: 1rem;
					border-radius: 6px;
					outline: none;
					border: none;
					transition: 0.15s background-color ease-in-out;
					height: 100%;
					text-decoration: none;

					&:hover {
						background-color: $red-hover;
						color: white;
						text-decoration: none;
					}

					&:not(:last-child) {
						margin-right: 0.5rem;
					}
				}
			}

			a {
				max-width: 80px;
				max-height: 40px;
				transition: opacity 0.15s ease-in-out;

				&:hover {
					opacity: 0.6;
				}

				svg {
					max-width: 80px;
					max-height: 40px;
				}
			}

			.details-list {
				list-style: none;
				max-width: 250px;

				li {
					display: flex;
					padding-bottom: 0.7rem;

					.label {
						flex: 1;
					}

					.value {
						i {
							color: gold;
						}
					}
				}
			}
		}
	}

	.carousel-container {
		margin: auto;
		width: 100%;
		max-width: 1700px;
	}

	.header-container {
		.detail-info {
			padding-left: 10rem;
			z-index: 10;
			background: linear-gradient(90deg, #111 30%, transparent);
			min-height: 30rem;

			.detail-header {
				width: 100%;
				max-width: 30rem;

				i {
					color: gold;
				}

				span {
					&:not(:last-child) {
						content: "|";
						margin-right: 0.5rem;
						margin-left: 0.5rem;
					}
				}
			}

			.detail-footer {
				width: 50%;

				.btn-trailer {
					background-color: $red;
					color: white;
					font-size: 1.5rem;
					border-radius: 6px;
					outline: none;
					border: none;
					transition: 0.15s background-color ease-in-out;
					width: 240px;
					text-decoration: none;
					&:hover {
						background-color: $red-hover;
						color: white;
						text-decoration: none;
					}
				}
			}
		}

		.detail-backdrop {
			box-shadow: inset 0 0 0 2000px rgba(26, 26, 26, 0.2);
			position: absolute;
			right: 0;
			background-size: cover;
			width: 80%;
			min-height: 30rem;
		}
	}
}

@media (max-width: #{$breakpoint-xs}) {
	.detail-info {
		padding-left: 1.5rem !important;

		.detail-footer {
			width: 80% !important;
			p {
				text-align: justify;
			}
		}
	}

	.detail-backdrop {
		background-position: 50% 50% !important;
	}

	.poster-area {
		display: none !important;

		img {
			display: none !important;
		}
	}

	.details-area {
		padding-left: 1rem !important;
		padding-right: 1rem !important;

		.details-list {
			max-width: unset !important;
		}
	}

	.carousel-container {
		h2 {
			padding-left: 4rem !important;
		}
	}

	.genre-list {
		.btn-genre {
			height: auto !important;
		}
	}
}
