$font-size-base: 16;

$main-layout-background-color: #181818;

$header-background-color: #141414;
$header-height: 60px;
$header-menu-width: 300px;
$header-menu-width-mobile: 300px;
$header-menu-height-mobile: 250px;

$genre-card-height: 60px;
$max-genre-wrapper-width: 1200px;
$red: #e50914;
$red-hover: #e50914a9;

$footer-height: 150px;

$white-text-hover-color: rgba(124, 124, 124, 0.596);

$breakpoint-xs: 600px;
$breakpoint-md: 1000px;
$breakpoint-lg: 1100px;

$max-width-lg: 1500px;
$max-width-xl: 1700px;
