@import "../../../styles/variables.scss";

.page-wrapper {
	.genre-container {
		max-width: #{$max-genre-wrapper-width};
		width: 80%;

		h2 {
			font-size: 2rem;
			padding-top: 3rem;
		}

		a {
			.genre-card {
				height: #{$genre-card-height};
				background-color: $red;
				color: white;
				font-size: 1.5rem;
				border-radius: 6px;
				outline: none;
				border: none;
				transition: 0.15s background-color ease-in-out;
				width: 240px;
				text-decoration: none;

				&:hover {
					background-color: $red-hover;
				}
			}

			&:hover {
				color: white;
				text-decoration: none;
			}
		}
	}
}

@media (max-width: #{$breakpoint-xs}) {
	h1 {
		width: 100%;
	}
}
