@import '../../../styles/variables.scss';

.page-wrapper {
    .loading-skeleton {
        max-width: 1700px;
    }

    .shows-title {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 1700px;
    }

    .search-container {
        z-index: 10 !important;
        max-width: 1700px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        .search {
            width: 100%;
            max-width: 500px;
            input {
                max-width: 500px;
                width: 100%;
                height: 50px;
                margin: auto;

                &:hover {
                    border-color: #{$genre-card-background-color-hover};
                }

                &:focus {
                    box-shadow: 0 0 0 0.2rem #{$genre-card-background-color-hover};
                    border-color: #{$genre-card-background-color-hover};
                }
            }
        }
    }
}

.loading {
    ::ng-deep svg {
        circle {
            stroke: #{$genre-card-background-color};
        }
    }
}


::ng-deep .paginator {
    background-color: transparent;
    color: white;
    font-weight: 400;

    .p-paginator-page {
        &.p-highlight {
            background-color: #{$genre-card-background-color-hover} !important;
            border-radius: 2px;
            color: white !important;
            font-weight: 400;
            transition: border-color 0.2s ease-in-out, background-color 0.2 ease-in-out;

            &:hover {
                color: #495057;
                border-color: transparent;
                background: #e9ecef;
            }

            &:focus {
                box-shadow: 0 0 0 0.2rem #495057;
                border-color: #{$genre-card-background-color-hover};
            }
        }
    }
}