<div class="movies-wrapper d-flex flex-column pb-5">
    <div class="movies-title pt-5">
        <h1 class="pb-2 pl-3">Movies</h1>
    </div>
    <div class="search-container d-flex justify-content-center">
        <span class="search p-input-icon-right ml-5 mr-5">
            <i class="pi pi-search"></i>
            <input type="text" #searchBox placeholder="Search Movies" pInputText [formControl]="searchBoxControl"/>
        </span>
    </div>
    <app-skeleton *ngIf="loading" class="pt-5"></app-skeleton>
    <div class="movies-container pt-5 pb-3" *ngIf="!loading">
        <div class="row pl-3 pr-3" *ngIf="movies">
            <div class="col-12 col-sm-6 col-lg-4 col-xl-2 pl-1 pr-1 pb-3 pt-3" *ngFor="let movie of movies | slice:0:18">
            <app-card [item]="movie"></app-card>
        </div>
        </div>
    </div>
    <div class="movies-paginator" *ngIf="movies.length > 0">
        <p-paginator 
            [rows]="18" 
            [totalRecords]="totalPagesCount * 20"
            [alwaysShow]="false"
            [styleClass]="'paginator'"
            (onPageChange)="onPageChange($event)">
    </p-paginator>
    </div>
</div>